.main {
  .common-form {
    margin: 40px 0;
    max-width: 474px;

    .field > label {
      font-weight: 100;
      text-transform: uppercase;
      color: #606060;
    }

    .field {
      margin-bottom: 2rem;
    }
  }

  .field-double {
    display: flex;
    width: 100%;
    flex-direction: row;

    @media all and (max-width: 767px) {
      flex-wrap: wrap;
    }

    .field {
      flex-grow: 1;

      @media all and (max-width: 767px) {
        width: 100%;
      }

      @media all and (min-width: 767px) {
        margin-bottom: 0;
        width: 50%;

        &:first-child {
          margin-right: 1em;
        }

        &:last-child {
          margin-left: 1em;
        }
      }
    }
  }

  .image-uploads {
    max-width: 487px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;

    &__uploader-btn {
      border: none;
      background: url('../img/icon-upload.png') no-repeat 0 0;
      width: 100%;
      height: 100%;
      display: block;
    }

    &__uploader {
      width: 110px;
      height: 105px;
      margin: 0 5px 1em;
      display: inline-block;

      input {
        opacity: 0;
        position: absolute;
        z-index: -1;
      }
    }
  }

  .ui.orange.button,
  .ui.orange.buttons .button {
    background: #f68236;
    font-weight: 100;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 11px;
    min-width: 125px;
    display: inline-block;
    height: 34px;
  }

  .ui.toggle.checkbox input:checked~.box,
  .ui.toggle.checkbox input:checked~label,
  .ui.toggle.checkbox .box,
  .ui.toggle.checkbox label {
    font-weight: 100;
    text-transform: uppercase;
    color: #606060 !important;
    font-size: 10px !important;
  }

  .ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before {
    background-color: #f68236 !important;
  }
}

.cart-info {
  text-align: center;
  font-size: 15px;
  margin-bottom: 30px;
}