@import 'variables';

.sidebar {
  width: 226px;
  background-color: #222d32;
  min-width: 226px;
  max-width: 226px;
  position: relative;
  z-index: 11;

  @media all and (max-width: 767px) {
    position: absolute;
    left: -226px;
    top: 80px;
    height: 100%;

    transition: left 0.3s ease-in-out;

    &--toggled {
      left: 0;
    }
  }
}

.sidebar-nav {
  color: #fff;
  margin: 0;
  padding: 0;

  &__item {
    line-height: 33px;
    list-style: none;
    margin-bottom: 6px;

    &--main {
      background-color: #111619;
      font-size: 12px;
      font-weight: 300;
      padding: 0 15px;
      margin-bottom: 6px;
    }
  }

  &__link {
    color: #fff;
    display: block;
    margin-left: 24px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 300;
  }
}

.sidebar-dropdown {
  margin: 0;
  padding: 0 0 0 40px;
  background-color: #242627;

  &__item {
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color:  #b9b1ac;
    font-size: 12px;
    font-weight: 300;

    &:hover {
      color: #fff;
    }
  }
}
