.dropdown {
  position: absolute; }
  .dropdown--parent {
    position: relative; }

.sidebar {
  width: 226px;
  background-color: #222d32;
  min-width: 226px;
  max-width: 226px;
  position: relative;
  z-index: 11; }
  @media all and (max-width: 767px) {
    .sidebar {
      position: absolute;
      left: -226px;
      top: 80px;
      height: 100%;
      transition: left 0.3s ease-in-out; }
      .sidebar--toggled {
        left: 0; } }

.sidebar-nav {
  color: #fff;
  margin: 0;
  padding: 0; }
  .sidebar-nav__item {
    line-height: 33px;
    list-style: none;
    margin-bottom: 6px; }
    .sidebar-nav__item--main {
      background-color: #111619;
      font-size: 12px;
      font-weight: 300;
      padding: 0 15px;
      margin-bottom: 6px; }
  .sidebar-nav__link {
    color: #fff;
    display: block;
    margin-left: 24px;
    font-size: 13px;
    text-decoration: none;
    font-weight: 300; }

.sidebar-dropdown {
  margin: 0;
  padding: 0 0 0 40px;
  background-color: #242627; }
  .sidebar-dropdown__item {
    list-style: none; }
  .sidebar-dropdown__link {
    text-decoration: none;
    color: #b9b1ac;
    font-size: 12px;
    font-weight: 300; }
    .sidebar-dropdown__link:hover {
      color: #fff; }

.btn--transparent {
  background: none;
  border: none;
  cursor: pointer; }
  .btn--transparent:focus {
    outline: none; }

header.header {
  background: #3c8cbb; }

.header {
  text-align: right;
  height: 40px;
  position: relative;
  z-index: 1; }
  @media all and (max-width: 767px) {
    .header {
      height: auto; } }
  .header__item {
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle; }

.user {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  margin-left: 40px;
  padding-top: 6px; }
  @media all and (max-width: 767px) {
    .user {
      display: none; } }
  .user__img {
    border-radius: 5px;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    margin-right: 5px; }

.inbox {
  width: 25px;
  height: 28px;
  background: url("../icons/icon-email.svg") no-repeat 0 0;
  background-size: 18px;
  position: relative;
  top: 4px; }
  .inbox__count {
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    padding: 1px 4px;
    position: absolute;
    right: 0;
    top: -5px;
    color: #fff;
    background-color: #d74937; }

.settings {
  width: 65px;
  height: 40px;
  text-align: center; }
  .settings__btn {
    display: inline-block;
    width: 100%;
    height: 40px;
    background: url("../icons/icon-settings.svg") no-repeat 50%;
    background-size: 18px; }
  .settings .dropdown {
    display: none;
    top: 40px;
    right: 0;
    text-align: left;
    padding: 0 25px;
    background-color: rgba(28, 23, 20, 0.8); }
    .settings .dropdown__item {
      font-size: 12px;
      display: block;
      text-decoration: none;
      color: #afafaf;
      white-space: nowrap;
      margin: 15px;
      padding: 0; }
      .settings .dropdown__item:hover {
        color: #fff; }
  .settings--opened {
    background-color: rgba(28, 23, 20, 0.8); }
    .settings--opened .dropdown {
      display: block; }

.sidebar-header {
  float: left;
  display: inline-block;
  background-color: #3b5869;
  color: #fff;
  padding: 8px 12px;
  height: 40px;
  width: 226px; }
  @media all and (max-width: 767px) {
    .sidebar-header {
      display: block;
      float: none;
      width: 100%;
      text-align: left; } }
  .sidebar-header__name {
    font-size: 18px;
    font-weight: 900; }
  .sidebar-header__slogan {
    margin-left: 5px;
    font-size: 12px;
    font-weight: 300; }

.sidebar-toggle {
  display: none; }
  @media all and (max-width: 767px) {
    .sidebar-toggle {
      display: inline-block;
      border: none;
      float: left;
      height: 40px;
      width: 42px;
      background: #222d32; } }
  .sidebar-toggle:focus, .sidebar-toggle:active {
    outline: none; }
  .sidebar-toggle__line {
    height: 2px;
    display: block;
    margin: 0 auto 4px;
    width: 60%;
    background: #fff; }
    .sidebar-toggle__line:last-child {
      margin-bottom: 0; }

.cart-btn {
  cursor: pointer;
  background: none;
  border: none;
  color: #fff; }
  .cart-btn.cart-added {
    color: #f68236; }

.ui.form {
  font-size: 11px; }

.auth {
  background: #222d32;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }
  .auth__form {
    background: #fff;
    padding: 38px;
    width: 320px;
    font-size: 10px; }
  .auth .forget-password {
    color: #f68236;
    float: right; }
  .auth .ui.orange.button,
  .auth .ui.orange.buttons .button {
    background: #f68236;
    font-weight: 100;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 11px;
    min-width: 125px;
    display: inline-block;
    height: 34px; }
  .auth .ui.form .field {
    margin-bottom: 30px; }
    .auth .ui.form .field:last-child {
      margin-bottom: 0; }
  .auth .ui.form .field > label {
    font-weight: 100;
    text-transform: uppercase;
    color: #606060; }
  .auth .registration-btn {
    margin: 5px auto 0;
    display: block;
    color: #f68236;
    font-style: italic; }

.text-center {
  text-align: center !important; }

.main .common-form {
  margin: 40px 0;
  max-width: 474px; }
  .main .common-form .field > label {
    font-weight: 100;
    text-transform: uppercase;
    color: #606060; }
  .main .common-form .field {
    margin-bottom: 2rem; }

.main .field-double {
  display: flex;
  width: 100%;
  flex-direction: row; }
  @media all and (max-width: 767px) {
    .main .field-double {
      flex-wrap: wrap; } }
  .main .field-double .field {
    flex-grow: 1; }
    @media all and (max-width: 767px) {
      .main .field-double .field {
        width: 100%; } }
    @media all and (min-width: 767px) {
      .main .field-double .field {
        margin-bottom: 0; }
        .main .field-double .field:first-child {
          margin-right: 1em; }
        .main .field-double .field:last-child {
          margin-left: 1em; } }

.main .image-uploads {
  max-width: 487px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap; }
  .main .image-uploads__uploader-btn {
    border: none;
    background: url("../img/icon-upload.png") no-repeat 0 0;
    width: 100%;
    height: 100%;
    display: block; }
  .main .image-uploads__uploader {
    width: 110px;
    height: 105px;
    margin: 0 5px 1em;
    display: inline-block; }
    .main .image-uploads__uploader input {
      opacity: 0;
      position: absolute;
      z-index: -1; }

.main .ui.orange.button,
.main .ui.orange.buttons .button {
  background: #f68236;
  font-weight: 100;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 11px;
  min-width: 125px;
  display: inline-block;
  height: 34px; }

.main .ui.toggle.checkbox input:checked ~ .box,
.main .ui.toggle.checkbox input:checked ~ label,
.main .ui.toggle.checkbox .box,
.main .ui.toggle.checkbox label {
  font-weight: 100;
  text-transform: uppercase;
  color: #606060 !important;
  font-size: 10px !important; }

.main .ui.toggle.checkbox input:checked ~ .box:before, .main .ui.toggle.checkbox input:checked ~ label:before {
  background-color: #f68236 !important; }

.cart-info {
  text-align: center;
  font-size: 15px;
  margin-bottom: 30px; }

.static-page .grid {
  margin-top: 42px; }

.static-page .image {
  margin: 0 auto; }

.list {
  margin-top: 42px !important;
  font-size: 11px !important; }
  .list__title {
    display: flex; }
  .list__img {
    height: 44px;
    width: 44px;
    display: inline-block; }
  .list__name {
    display: inline-block; }
  .list .head-row {
    color: #909090;
    font-size: 10px;
    font-weight: 500; }

.orders .image {
  width: 30px; }

.companies .column {
  justify-content: space-around; }

.main .list.ui.celled.grid > .column:not(.row), .main .list.ui.celled.grid > .row > .column {
  box-shadow: none; }

.pagination {
  list-style: none;
  font-size: 11px;
  float: right;
  margin-top: 3rem; }
  .pagination li {
    display: inline-block;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc; }
    .pagination li:first-child {
      border-left: 1px solid #ccc;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    .pagination li:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }
    .pagination li.active a {
      font-weight: bold;
      color: #f68236; }
  .pagination a {
    color: #000;
    display: block;
    padding: 0 10px;
    line-height: 27px; }
    .pagination a:hover {
      color: #f68236; }

.order-status {
  position: relative;
  padding-right: 18px; }

.order-item {
  margin-bottom: 7px; }
  .order-item:last-child {
    margin-bottom: 0; }

.product-name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  margin-left: 5px; }

.btn-order-toggle {
  text-align: center;
  background-color: #f1f1f1;
  width: 100%;
  color: #606060;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px; }

.order-items {
  margin-bottom: 10px; }

.order-status select {
  padding: 0.3em 0.5em !important; }

.add-to-basket-btn {
  flex-grow: 0 !important; }

.product-image {
  max-width: 46px !important; }

#root {
  height: 100%; }

.root-inner {
  height: 100%; }

.router-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  height: 100%; }

.app {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative; }

.right {
  flex-grow: 1;
  padding: 0 12px; }

.content {
  display: flex;
  width: 100%;
  height: 100%; }

.auth + .content {
  display: none; }

.title {
  margin: 0;
  padding: 0;
  font-weight: 400; }
  .title--primary {
    line-height: 23px;
    font-size: 24px; }
  .title--secondary {
    font-size: 18px; }
  .title--column {
    font-size: 24px;
    margin-bottom: 2rem;
    font-weight: 700; }

.main {
  margin-top: 42px;
  padding: 0 12px;
  flex-grow: 1; }

.sidebar {
  flex-grow: 1px; }
